@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color:#242222 ;
    color: aliceblue;
}

.cabe{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-left: 100px;
    background-color: #000;
}

.i{
    gap: 20px;
}

.menu-item{
    padding-right: 75vh;
}

.menu-item2{
    padding-right: 6.25px;
}

.acao{
    display: flex;
    justify-content: center;
    padding-top: 6.25vh;
    padding-bottom: 8.75vh;
}

.Rpai{
    display: flex;
    flex-direction: row;  
    justify-content: center;
}


figure.borda img{
    border: 4px solid #000;
}


.tituloft{
    padding-left: 25vh;
    padding-top: 6.25vh;
   
    
}

.textoft{
    padding-left: 12.5vh;
    padding-top: 5vh;
    padding-bottom: 22.5vh;   
}


/* Responsividade */
@media (max-width: 768px) { /* Para tablets e telas menores */
    .Rpai {
        flex-direction: column; /* Empilha os itens verticalmente */
        text-align: center; /* Centraliza o texto */
    }

    .Imagem1 {
        max-width: 80%; /* Ajusta a largura da imagem */
    }
}

@media (max-width: 480px) { /* Para celulares */
    .acao {
        font-size: 20px; /* Reduz o tamanho do título */
    }

    .textoft {
        font-size: 14px; /* Reduz o tamanho do texto */
    }

    .Imagem1 {
        max-width: 100%; /* Aumenta o tamanho da imagem para caber no layout */
    }
}



/*  reponsivél*/
.listImg{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    
}

@media (max-width:1200px) {
    .listImg{justify-items: center;
        grid-template-columns: repeat(2, 1fr);
}
}
@media (max-width: 768px) {
    .listImg {
        justify-items: center;
         grid-template-columns: repeat(2, 1fr); /* 2 colunas em tablets */
    }
}
@media (max-width: 408px) {
    .listImg {
        justify-items: center;
         grid-template-columns:  1fr; /* 2 colunas em tablets */
    }
}





/*fim do responsivel*/



.pe{
    background-color: #000;
}
